/* -------css reset---------- */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------global styling------- */

html{
    scroll-padding-top: 70px;
}
.row{
    max-width: 1300px;
    margin: auto;
}
li{
    list-style-type: none;
}
.heading{
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 250%;
    margin-top: 60px;
    padding: 10px;
    text-align: center;
}
.heading-decoration{
    display: block;
    border-top: 3px solid #00251d;
    margin: 0 47%;
    margin-bottom: 20px;
    padding: 0;
}

/* ------main section--------- */

header{
    height: 83vh;
    color: rgb(255, 255, 255);
    overflow: hidden;
    scroll-padding-top: 50px;
}
#logo{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo h2{
    margin-right: 20vh;
    font-family: 'Changa',sans-serif;
    font-weight: 400;
    font-size: 215%;
}
#logo img{
    margin: 40px;
    max-width: 95px;
    margin-left: 20vh;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #00251d;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    margin-top: 1px
}
nav a{
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 110%;
    padding: 5px 5px 5px 30px;
    border-left: 1px solid #013f1d;
}
nav a:hover,
nav a:active{
    color: #aed1c8;
}
.last-child{
    border-right: 1px solid #013f1d;
    padding-right:30px ;
    padding: 5px 30px 5px 30px;
}
nav > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#menu > li{
    padding: 15px;
    border-radius: 3px;
}
#menu > li:hover,
#menu > li:active {
    cursor: pointer;
}
#subjects{
    display: none;
    position: absolute;
    margin-top: 14px;
    width: 184px;
}
#subjects li{
    padding: 10px 15px;
    background-color: #00251d;
}
#subjects a{
    border: none;
    padding: 5px 30px 5px 0;
    text-align: center;
}
#gradesNav{
    display: none;
    position: absolute;
    margin-top: 14px;
    width: 150px;
}
#gradesNav li{
    padding: 10px 15px;
    background-color: #00251d;
}
#gradesNav a:hover,
#gradesNav a:active{
    color: #074722;
}
#gradesNav a{
    border: none;
    padding: 5px 30px 5px 0;
    text-align: center;
}
#maths{
    display: none;
}
#science{
    display: none;
}
#sst{
    display: none;
}
#landa{
    display: none;
}
#main-content{
    height: 100%;
    padding-bottom: 200px;
    font-family: 'Raleway',sans-serif;
    background-image:linear-gradient(#000000,#20945e91,#000000), url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;

}
#main-content h1{
    position: relative;
    top: 35%;
    font-weight: 400;
    font-size:300%;
    margin-bottom: 20px;
    display: flex;
    align-items:center ;
    justify-content: center;
}
#main-content h1 img{
    max-width: 45px;
    margin-left: 20px;
}
#main-content h2{
    text-align: center;
    position: relative;
    top: 35%;
    font-weight: 100;
    font-size:230%;
}
#main-content h3,
#main-content h4{
    text-align: center;
    position: relative;
    top: 35%;
    font-weight: 500;
    font-size: 120%;
}
#main-content a{
    text-align: center;
    position: relative;
    top: 35%;
    text-decoration: none;
    color: white;
    font-family: 'Raleway',sans-serif;
    display: block;
    margin-top: 110px;
    font-size: 180%;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 300;
    border: 1px solid white;
    margin-right: 85vh;
    margin-left: 85vh;
    padding-top: 10px;
    border-radius: 4px;
}
#main-content a:hover{
    background-color: #0505051e;
    border: 1px solid #b3b3b3;
    color: #dddddd;
}
#main-content span{
    font-size: 70%;
    padding-top: 0;
    margin-top: 0;
    position: relative;
    bottom: 10px;
    font-weight: 100;
}
#main-content span:hover{
    border: none;
    background-color: #ffffff00;
}
/* -------------intro------------- */

#intro{
    padding: 100px 80px 30px 80px;
    margin: 0 auto;
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    font-size: 130%;
    
}
#intro h2{
    font-weight: 300;
    text-align: center;
}
#intro-big-word{
    font-size: 150%;
}
#intro span:last-of-type{
    font-weight: 300;
}

/* -------curriculum section------- */

.grade{
    border: 1px solid gray;
    margin: 10px 0;
    border-radius: 5px;
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    font-size: 150%;
    padding: 10px;
    text-align: center;
}
.grade:hover{
    cursor: pointer;
    color: #00b14a;
    border: 1px solid #00b14a;
}
.grade-content{
    max-height: 70vh;
    overflow-y: scroll;
    display: none;
}
#curriculum-content{
    min-height: 65vh;
    box-shadow: 0 0 50px 2px #f3f3f3;
    border-radius: 10px;
    padding: 50px 10px; 
}

/* ----------about us------------- */

#about-us{
    height: 100vh;
}
.about-content{
    font-family: 'Raleway',sans-serif;
    font-weight: 300;
    font-size: 130%;
    padding-right: 80px;
    padding-left: 80px;
    text-align: justify;
}
.about-content h3{
    font-size: 150%;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 10px;
}

/* ---------contact us------------ */

#contact-us{
    text-align: center;
    margin-top: 150px;
}
#contact-us .heading-decoration{
    margin-bottom: 35px;
}

/* ------------footer------------- */

footer{
    padding-top: 40px;
    background-color: #00251d;
    margin-top: 40px;
    color: #ffffff;
    line-height: 2em;
    font-family: 'Lato',sans-serif;

}
footer li{
    list-style-type: none;
}
footer a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lato',sans-serif;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5em;   
    padding-right: 5%;
    padding-left: 5%;
}
.footer-contents{
    padding-left: 15%;
    padding-right: 15%;
}
.footer-items h3{
    width: 100px;
    font-weight: 700;
    font-size: 1.1rem;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
    padding-left: 10px;
}

.footer-items ul{
    padding-left: 10px;
    width: 150px;
}
.footer-items li{
    font-weight: 300;
    font-size: 0.95rem;
}
.copyright{
    font-weight: 500;
    background-image: linear-gradient(#e9e9e9,#e9e9e9);
    color: #000;
}
.copyright-content{
    display: flex;
    justify-content: space-between ;
    padding:1.2em;
}
.copyright-content p{
    font-size: 0.9em;
    color: rgb(88, 88, 88);
}

.design-by span{
    color: rgb(128, 0, 0);
}
